.form {
    padding:25px;
    text-align: center;
}
img{

    height: 30pt;
    width: 30pt;
    margin:12px;

}


p{

    color: aliceblue;
    margin-top:12px;
    font-size: small;
}

nav li{
    display: inline-block;
    margin-left: 20px;
}

nav a{
    text-transform: uppercase;
}

select{
    width: 150px;
}

.active {
    background-color: #4CAF50;
}

.roomName{

    margin-top:10px;
    text-align: center;
    text-transform: uppercase;
}

.right_learfix{

    text-align: left;
}

.text-muted{
    margin-right: 20px;
    position: absolute; right: 0;

}

.message{
    color: #8F8E8C;
    margin-top:12px;
    font-size: medium;
}








